.certificate-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  box-sizing: border-box;
}

.certificate-info-container {
  position: relative;
  background: url(/public/E-CERT.png) no-repeat center;
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
}

.certificate-info-details {
  position: relative;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.photo-container {
  text-align: center;
  margin-bottom: 20px;
}

.photo-container img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 2px solid #000;
  object-fit: cover;
}

.name-container {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
}

.name-container h2 {
  margin: 0;
}

.details-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.qr-code {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 8px;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-details-1, .user-details-2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
}

.user-details-1 .detail-row, .user-details-2 {
  display: flex;
  justify-content: space-between;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.footer p {
  margin: 10px 0;
  font-weight: bold;
}

.footer .back-to-search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer .back-to-search-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .certificate-info-details {
    padding: 10px;
  }

  .details-container {
    flex-direction: column;
  }

  .photo-container img {
    width: 100px;
    height: 100px;
  }

  .name-container {
    font-size: 16px;
    padding: 8px;
  }

  .user-details-1, .user-details-2 {
    padding: 5px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .certificate-container {
    width: 95%;
    padding: 10px;
  }

  .details-container {
    flex-direction: column;
    gap: 10px;
  }

  .qr-code {
    padding: 5px;
  }

  .footer .back-to-search-button {
    width: 100%;
  }
}
